[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/imdongye/glfw
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/imdongye/assimp
[submodule "main/assets/assimp-mdb"]
	path = main/assets/assimp-mdb
	url = https://github.com/assimp/assimp-mdb.git
