# cmake
[Bb]uild*/ 

# Visual Studio
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Mac
.DS_Store

# etc
*ignored/
*private/
*todo/
*result/
main/imgui.ini
main/app_pref.json
main/assets/

main/exports/*
!main/exports/imgui.ini
main/imgui.ini
main/im_shadertoy/temp/temp.fs