# for visual studio
*.vs/
*bin/

#*vcxproj*
#*.sln

# for xcode
/Build/
/*.xcodeproj
.DS_Store
*entitlements
._*
*xcodeproj*


# common
/ignored
/include
/*.sln
/imtoys/common
!/imtoys/common/shader

# etc
app_pref.json
*private/
*todo/
*archive/
*result/
*images/

imtoys/imnpr/TAM/